@media(max-width: 414px){
    .container{
        width: 90%;
    }
        .header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        }
        .header p{
            font-size: 6px;
        }
        .atect a{
            font-size: 8px;
            font-weight: 450;
            padding: 10px;
        }
        .header-end select{
            border-radius: 4px;
        }
        .header-end button{
        width: 75px;
        height: 25px;
        border-radius: 7px;
        transition: 0.2s;
        font-size: 12px;
        }
        .her2{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 100px;
            text-align: center;
            color: white;
            line-height: 45px;
            font-size: 12px;
        }
        .her1 img{
            width: 400px;
            height: 530px;
        }
        .her1{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            padding: 5px 35px;
        }
        .her1 h1{
    position: absolute;
     color: white;
     font-size: 30px;
     text-align: center;
     line-height: 28px;
     font-size: 25px;
     width: 50%;
     height: 30%;
     top: 0;
     left: 0;
     transform: translate(50%,70%);
     }
.her1 p{
    position: absolute;
    display: flex;
     align-items: center;
     width: 66%;
    height:15%;
    font-size: 9px;
    top: 0;
    left: 0;
    transform: translate(50%,70%);
        
    }
        .fa-house{
            font-size: 15px;
            width: 49%;
            height: 8.5%;
            transition: 0.2s;
        }
        
        .hero img{
            width: 372px;
            height: 400px;
            position: relative;
        }
        
        .heppo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            transform: translate(0%,-100%);
        }
        .hero-end{
            width: 320px;
            height: 250px;
            border-radius: 7px;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .fa-clipboard-check{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2C3E50;
        font-size: 20px;
        }
        .fa-users{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        color: #2C3E50;
        font-size: 20px;
        }
        .fa-calendar-days{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            color: #2C3E50;
            font-size: 20px;
        }
        .fa-clock{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            color: #2C3E50;
            font-size: 20px;
        }
        .format h2{
        color: #2C3E50;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin: 5px;
        }
        .format p{
        color: #2C3E50;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        }
        .ticket{
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 68px;
        }
        .blok{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 320px;
        height: 175px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.20);
        margin-bottom: 230px;
        }
        .gr{
        width: 14px;
        height: 45px;
        margin: 6px 4px;
        }
        .blok2 h1{
            color: #FFF;
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
            margin: 10px 0;
        }
        .blok2 button{
        width: 218px;
        height: 40px;
        border-radius: 8px;
        background: #1A5CFF;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 15px;
        margin: 10px 0;
        transition: 0.3s;
        box-shadow: 0px 8px 20px 0px rgba(255, 45, 26, 0.2);
        }
        .blok2 button:hover{
            background: grey;
        }
        .blok2 p{
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        }
        .card2{
        width: 320px;
        height: 450px;
        border-radius: 8px;
        background: #FFF;
        position: relative;
        }
        .card2 p{
        color: #9099A3;
        font-size: 12px;
        font-weight: 400;
        margin: 15px 20px;
        }
        .card2 h1{
        color: #2C3E50;
        font-size: 19px;
        font-weight: 900;
        margin: 20px 20px;
        }
        .card2 h5{
            color: #2C3E50;
            font-size: 16px;
            font-weight: 500;
            margin: 0px 20px;
        }
        .margulan{
            position: absolute;
            top: 33.3%;
           left: 6px;
        }
        .menu{
            color: white;
            font-size: 30px;
            text-align: center;
        }
        .card3 img{
            width: 320px;
            height: 160px;
        }
        .card3{
        width: 320px;
        height: 468px;
        border-radius: 8px;
        background: green;
        
        }
        .bol{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        }
        .card3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        }
        .on{
        display: flex;
        align-items: center;
        justify-content: space-around;
        }
        .off1 h1{
        color: #2C3E50;
        font-size: 12px;
        padding-bottom: 50px;
        margin: 0 10px;
        }
        .off1 p{
        color: #2C3E50;
        font-size: 8px;
        padding-bottom: 30px;
        }
        .on1 h2{
        color: #2C3E50;
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 15px;
        }
        .on1 p{
        color: #2C3E50;
        font-size: 10px;
        font-weight: 400;
        
        }
        .on2 h2{
        color: #2C3E50;
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 14px;
        }
        .on2 p{
        color: #2C3E50;
        font-size: 10px;
        font-weight: 400;
        }
        .btn button{ 
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        width: 240px;
        height: 40px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        background: #1A5CFF;
        margin: 20px 80px;
        transition: 0.3s;
        box-shadow: 0px 8px 20px 0px rgba(255, 45, 26, 0.2);
        }
        .btn button:hover{
            background: grey; 
        }
        .btn h1{
            color: #FFF;
            font-size: 20px;
            margin: 20px 0px;
            
        }
       
        .swiper {
            width: 200px;
            height: 300px;
            display: none;
          }
        .swiper-slide{
        width: 200px;
        height: 250px;
        background: white;
        border-radius: 8px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        display: none;
        }
        .cmbtn button{
            cursor: pointer;
        width: 240px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #1A5CFF;
        color: #FFF;
        border: none;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        box-shadow: 0px 8px 20px 0px rgba(255, 45, 26, 0.2);
        transition: 0.3s;
        }
        .cmbtn button:hover{
            background: grey;
        }
        .cmbtn{
            padding: 30px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        
        
        .wrapper {
          width: 400px;
          background: linear-gradient(
            270deg,
            #1E2023,
            #09d2ff,
            #1E2023,
            #a800e6,
            #0092d5
          );
          background-size: 1000% 1000%;
          animation: gradient 60s ease infinite;
        }
        .accordion {
          width: 100%;
          border: 2px solid;
          border-image-source: linear-gradient(
            270deg,
            #1E2023,
            #09d2ff,
            #1E2023,
            #a800e6,
            #0092d5
          );
          border-image-slice: 1;
          padding: 1em;
          transition: all 0.25s ease;
          background: rgba(0, 0, 0, 0.1);
          font-family: "Montserrat", sans-serif;
          font-size: 1.2em;
          color: white;
          outline: none;
          &:hover {
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;
          }
        }
        .active {
          background: rgba(255, 255, 255, 0.2);
          cursor: pointer;
        }
        .panel {
          background: rgba(255, 255, 255, 0.2);
          margin: 0 2px;
          box-shadow: inset 0px 3px 20px rgba(0, 0, 0, 0.4);
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          overflow: hidden;
          padding: 0 1em;
          color: white;
        }
        
        @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
        .proga{
            color: white;
            margin: 10px 80px;
        }
        .acord{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 50px 80px;
        }
        .reg{
        width: 240px;
        height: 40px;
        border-radius: 15px;
        font-size: 20px;
        background: #1A5CFF;
        color: white;
        border: none;
        cursor: pointer;
        box-shadow: 0px 8px 20px 0px rgba(237, 7, 7, 0.2);
        margin: 0 80px;
        transition: 0.2s;
        }
        .reg:hover{
            background: grey;
        }
        .fa-square-check{
        width: 70px;
        height: 70px;
        background: #1A5CFF;
        box-shadow: 0px 8px 20px 0px rgba(255, 49, 26, 0.2);
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        }
        .fa-square-check:hover{
           background: red;
        }
        .fact h2{
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            margin: 15px 0;
        }
        .fact p{
        color: #FFF;
        font-size: 16px;
        }
        .mest{
            margin: 50px 20px;
            display: flex;
            align-items: start;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 30px;
            
        }
        .kon-1 h1,h5{
            color: white;
        }
        .con{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .kon-4{
            color: white;
            width: 400px;
            height: 150px;
            
        }
        .kon-3{
            width: 400px;
            height: 283px;
            
        }
        .con-{
            height: 212px;
        }
        
        .con- h1{
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
        }
        .con- p{
        color: #9099A3;
        font-size: 10px;
        font-weight: 400;
        }
        .con-3 p{
            color: #9099A3;
        font-size: 10px;
        font-weight: 400;
        }
        .con-4 p{
        color: #9099A3;
        font-size: 10px;
        font-weight: 400;
        }
        .con-3 input{
        width: 300px;
        height: 45px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.20);
        border: none;
        outline: none;
        padding: 0 15px;
        transition: 0.3s;
        font-size: 20px;
        color: #1A5CFF;
        }
        .con-3 input:hover{
            background: grey;
        }
        
        .con-4 input{
            
        width: 300px;
        height: 45px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.20);
        border: none;
        outline: none;
        padding: 0 0px;
        transition: 0.3s;
        font-size: 20px;
        color: #1A5CFF;
        }
        
        .con-5 input{
        width: 300px;
        height: 45px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.20);
        border: none;
        outline: none;
        padding: 0 15px;
        transition: 0.3s;
        font-size: 20px;
        color: #1A5CFF;
        }
        
        .con-5 p{
        color: #9099A3;
        font-size: 14px;
        font-weight: 400;
        }
        .con-4{
            margin: 20px 0;
        position: relative;
        }
        .con-4 img{
        width: 16px;
        height: 12px;
        position: absolute;
        top: 40px;
        left: 15px;
        }
        .fa-sort-down{
        color: white;
        position: absolute;
        top: 36px;
        left: 40px;
        }
        .con-6 p{
        color: white;
        font-size: 13px;
        font-weight: 400;
        margin: 20px 0;
        }
        .con-6 button{
        width: 200px;
        height: 55px;
        border-radius: 8px;
        background: #1A5CFF;
        border: none;
        color: white;
        font-size: 18px;
        box-shadow: 0px 5px 8px 0px rgba(255, 68, 26, 0.2);
        transition: 0.3s;
        }
        
        .con-1{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            
        }
        .con-6{
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .wha-1 h1{
        color: white;
        font-size: 28px;
        font-family: 700px;
        }
        .fa-person-circle-question{
            color: #1A5CFF;
            font-size: 150px;
            margin: 20px  ;
            transition: 0.3s;
            box-shadow: 0px 5px 8px 0px rgba(255, 68, 26, 0.2);
            border-radius: 50%;
        }
        .fa-person-circle-question:hover{
            color: white;
        }
        .wha-3 h3{
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
        }
        .fa-chevron-down{
            color: white;
        }
        .whath{
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .wha-3{
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
        
        }
        .wha-4{
            width: 300px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        }
        .line{
        text-align: center;
        width: 300px;
        height: 2px;
        background: gray;
        margin: 4px ;
        }
        .footer img{
            width: 20px;
        height: 20px;
        }
        .foot1 h3{
            color: #FFF;
        font-size: 5px;
        font-weight: 700;
        }
        .foot1 h5{
            color: #9099A3;
        font-size: 5px;
        font-weight: 400;
        margin: 5px 0;
        }
        .foot1 button{
            color: white;
            font-size: 9px;
            width: 50px;
            cursor: pointer;
        height: 20px;
        border-radius: 3px;
        background: #1A5CFF;
        border: none;
        box-shadow: 0px 5px 8px 0px rgba(255, 60, 26, 0.2);
        transition: 0.2s;
        }
        .foot1 button:hover{
            background: grey;
        }
        .foot2 h3{
            color: #FFF;
        font-size: 10px;
        font-weight: 900;
        }
        .foot2 p{
            color: #9099A3;
        font-size: 8px;
        font-weight: 400;
        margin: 5px 0;
        }
        .fa-facebook{
            color: white;
            font-size: 10px;
            cursor: pointer;
            transition: 0.2s;
        }
        .fa-facebook:hover{
            color:  rgb(6, 43, 91);
        }
        .fa-instagram{
            color: white;
            font-size: 10px;
            cursor: pointer;
            margin: 0 10px;
            transition: 0.2s;
        }
        .fa-instagram:hover{
            color:  rgb(214, 84, 167);
        }
        .fa-telegram{
        color: white;
            font-size: 10px;
            cursor: pointer;
            transition: 0.2s;
        }
        .fa-telegram:hover{
            color:  rgb(50, 146, 206);
        }
        .fa-linkedin{
        color: white;
            font-size: 10px;
            cursor: pointer;
            margin: 0 10px;
            transition: 0.2s;
        }
        .fa-linkedin:hover{
            color:  rgb(13, 80, 179);
        }
        .fa-youtube{
        color: white;
            font-size: 10px;
            cursor: pointer;
            transition: 0.2s;
        }
        .fa-youtube:hover{
            color:  rgb(158, 26, 26);
        }
        .fa-vk{
        color: white;
            font-size: 10px;
            cursor: pointer;
            margin: 0 10px;
            transition: 0.2s;
        }
        .fa-vk:hover{
            color:  #1A5CFF;
        }
        .foot3 h4{
            color: #FFF;
        font-size: 8px;
        font-weight: 700;
        }
        span{
            color: #1A5CFF;
        }
        .foot3 input{
        width: 130px;
        height: 20px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        color: #1A5CFF;
        border: none;
        outline: none;
        padding: 0 5px;
        font-size: 8px;
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
        }
        .foot3 button{
            width: 45px;
        height: 20px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #1A5CFF;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
        font-size: 8px;
        box-shadow: 0px 5px 8px 0px rgba(255, 41, 26, 0.2);
        transition: 0.2s;
        }
        .foot3 button:hover{
            background:grey;
        }
        .foot3 p{
            color: #9099A3;
        font-size: 6px;
        font-weight: 400;
        }
        
        
        
        .footer{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 5px;
        } 
        .footer{
            padding: 20px  0;
        }
        .footer-end{
            color: #9099A3;
            font-size: 8px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .f-ter{
            display: flex;
            align-items: center;
            gap: 10px;
        }
}